/*
    重写源生的一些控件的样式
    */
/*默认文本框的样式*/
._input_default {
    width: 180px;
    font: 14px/25px Helvetica, Verdana, sans-serif;
    height: 25px;
    padding: 3px 6px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: box-shadow 500ms;
}

    ._input_default:focus {
        -webkit-box-shadow: 0 0 3px #00B4E1;
        -moz-box-shadow: 0 0 3px #00B4E1;
        box-shadow: 0 0 3px #00B4E1;
    }

.input_login {
    width: 225px;
    font: 14px/30px Helvetica, Verdana, sans-serif;
    height: 24px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/*下拉*/
.select_default {
    width: 193px;
    height: 31.5px;
}
/*重写按钮功能的超链接标签*/
._btn_a {
    display: block;
    height: 30px;
    width: 100px;
    background: #00B4E1;
    color: white;
    font: 14px/30px Helvetica, Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
    transition: background-color 200ms;
    margin-left: 15px;
    float: left;
    border-radius: 4px;
}

    ._btn_a:hover {
        background-color: #00809F;
    }
/*提交型的按钮冲写*/
._btn_a_submit {
    font-weight: bold;
    color: white;
    background-color: #B22E00;
}

    ._btn_a_submit:hover {
        background-color: #FF4400;
    }
/*重置型的按钮重写*/
._btn_a_reset {
    font-weight: bold;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
}

    ._btn_a_reset:hover {
        background-color: #ccc;
    }
/*链接功能的超链接标签*/
._link_a {
    color: #00B4E1;
    font: 14px/30px Helvetica, Verdana, sans-serif;
    text-align: center;
}

    ._link_a:hover {
        text-decoration: underline;
    }
/*数据展示类型的table*/
._data_div {
    /*border:1px solid red;*/
    overflow: auto;
    height: 558px;
}

._data_table {
    font: 14px/30px Helvetica, Verdana, sans-serif;
    border: 0px solid #00809F;
    border-collapse: collapse;
    border: 1px solid #00809F;
    margin-top: 10px;
}

    ._data_table thead tr th {
        /*border: 1px solid #00809F;*/
        text-align: center;
    }

    ._data_table tbody tr {
        text-align: center;
        transition: background-color 200ms;
    }

        ._data_table tbody tr td {
            border: 1px solid #00809F;
        }
        /*鼠标停留的行背景颜色*/
        ._data_table tbody tr:hover {
            background-color: #DEDEDE;
        }
/*编辑区域型的table*/
._data_div_edit {
    border: 0px solid red;
    width: 950px;
    height: 670px;
    margin: 0 auto;
}

._data_table_edit {
    font: 14px/30px Helvetica, Verdana, sans-serif;
    border: 0px solid #00809F;
    border-collapse: collapse;
    margin: 5px auto;
}

    ._data_table_edit td {
        padding: 0.7em 1.2em;
    }
/*分页的区域样式*/
#pagediv {
    border: 0px solid red;
    width: auto;
    font: 14px/30px Helvetica, Verdana, sans-serif;
    height: 25px;
    display: block;
}

    #pagediv div:nth-child(1) {
        border: 0px solid red;
        height: 50px;
        width: 470px;
        margin: 0px auto;
        text-align: center;
    }

._pageindex_a {
    margin: 0 auto;
    display: block;
    height: 20px;
    width: 50px;
    font: 12px/20px Helvetica, Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
    transition: background-color color 500ms;
    margin: 5px 1px;
    float: left;
    border-radius: 2px;
    color: black;
    border: 1px solid #D0D1D7;
}

._pageindex_a_click {
    background-color: #005A98;
    color: white;
}

._pageindex_a:hover {
    color: white;
    background-color: #008BED;
}
/*提示框相关的样式*/
#_tipbox_div {
    position: fixed;
    background-color: #D0D1D7;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    display: block;
    display: none;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 999;
}

._tipbox {
    border: 5px solid #ccc;
    width: 360px;
    height: 220px;
    background-color: white;
    opacity: 1;
    border-radius: 2px;
    position: absolute;
    z-index: 99999;
    display:none;
}

._tipbox_title {
    width: 100%;
    height: 35px;
    border: 0px solid black;
    line-height: 35px;
}

._tipbox_content {
    width: 235px;
    height: 115px;
    margin: 10px 10px;
    /*border: 1px solid blue;*/
    line-height: 34px;
    border-radius: 5px;
    padding: 5px 50px 40px 50px;
}

._tipbox_table {
    width: 100%;
    border-collapse: collapse;
}

    ._tipbox_table td {
        padding: 1em 0;
        line-height: 20px;
        font-weight: bold;
    }

._tipbox_content_img {
    width: 32px;
    height: 32px;
    text-align: right;
    background-image: url("../Img/component.png");
    background-position: -68px -185px;
    background-repeat: no-repeat;
}

._tipbox_title_colse {
    float: right;
    background: url("../Img/controls.png") no-repeat -25px 0;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
    margin-top: 4px;
}
/*提示区域按钮重写*/
._btn_a_tip {
    float: right;
    background-color: #46831A;
}

    ._btn_a_tip:hover {
        background-color: #60B61E;
    }
